/*body {
  background-image: url('../images/back.png'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: 'Oswald', sans-serif;
}
*/
body {
  background-color: #dff1a7; 
  font-family: 'Oswald', sans-serif;
}
#semblanza{
  background-color: #c1e54d;
}
.portfolio-item {
  margin-bottom: 30px;
}

p{
  text-align: justify;
}
nav, footer{
  background-image: url('images/back.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

.btn-primary {
  color: #fff;
  background-color: #71a237;
  border-color: #71a237;
}

.btn-primary:hover {
  color: #fff;
  background-color: #5d852d;
  border-color: #5d852d;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(10, 13, 9, 0.81);
}


.navbar-dark .navbar-nav .nav-link:visited {
  color: rgba(10, 13, 9, 0.81);
}

.navbar-dark .navbar-nav .nav-link :hover {
  color: rgb(250, 250, 250);
}


a:visited {
  color: rgba(10, 13, 9, 0.81) !important;
}

.fa:hover {
  color: rgb(250, 250, 250) !important;
}

.fa{
  color:#000;
}

.navbar-dark .navbar-toggler {
  color: rgba(17, 63, 6, 0.5);
}

#nav-toggle-button{
  background-color:#c6e16b;
}

.container{
  max-width: 1500px;
}

.separator{
  width: 100%;
  text-align: center;
  background: url(images/separador.png) repeat-x center;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 0 8px;
  margin-bottom: 15px;
  float: left;
}
.separator #titulo {
  color: #000;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #dff1a7;
  padding-right: 10px;
  padding-left: 10px;
}

/*--------------------CAROUSEL------------------------------*/

.card {
  background-color: #f3fbd2;
  border: 1px solid #f3fbd2;
}

/*-----------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1024px) {
  .navbar-brand{
    max-width: 20%;
  }
  #logo1{
    width: 100%;
    margin:0px;
    padding-right:10px;
    padding-top: 3px;
  }
  #logo2{
    width: 100%;
    margin:0px;
    padding:10px;
  }
  #logo3{
    margin-top:35px;
    padding:0px;
    width: 100%;
  }
  #logo4{
    margin:0px;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .navbar-brand{
    max-width: 20%;
  }
  #logo1{
    width: 100%;
  }
  #logo2{
    width: 100%;
  }
  #logo3{
    margin:0px;
    padding-top:25px;
    width: 100%;
  }
  #logo4{
    margin:0px;
    width: 50%;
  }
  #semblanza{
    background-color: #c1e54d;
    display: none;
  }
  .col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
}

}

@media screen and (max-width: 480px) {
  .navbar-brand{
    max-width: 40%;
  }
  #logo1{
    width: 100%;
    display: none;
  }
  #logo2{
    width: 100%;
    display: none;
  }
  #logo3{
    margin:0px;
    padding:0px;

    width: 100%;
  }
  #semblanza{
    background-color: #c1e54d;
    display: none;
  }
}
